<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <!-- Add your CSS styling here -->
</head>
<body>
  <h1>An error occurred</h1>
  <p>Sorry, there was an error while fetching Facebook Pages. Please try again later.</p>
</body>
</html>
